@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family: "Poppins";
  line-height: 1.4;
  color: #fff;
  background-color: rgba(13, 17, 53, 1);
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

nav {
  margin: 2rem;
  border-bottom: 2px solid azure;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

nav li:hover {
  color: red;
  cursor: pointer;
}

section ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

section li:first-child {
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
